// Body
$body-bg: #f8fafc;
$primary-color: #315397;
$secondary-color: #6777b0;
$tertiary-color: #d7d9eb;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.center {
    margin: 0 auto;
    text-align: center;
}

.left {
    margin: 0 auto 0 0;
    text-align: left;
}

.right {
    margin: 0 0 0 auto;
    text-align: right;
}